.forecastCard {
    border: 1pt solid black;
    padding: 5px;
    background-color: #154c79;
    color: white;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
}

.todayCard {
    border: 1pt solid black;
    
    padding: 5px;
}

.forecastCard img {
    max-height: 50px;
    max-width: 50px;
}

.historyBtns {
    padding: 5px;
    margin: 5px;
}